<!DOCTYPE html>
<header>

  <h1>Tiny App</h1>

  <p>
    <a href="/urls/new">Create new tiny URL</a>|
    <a href="/urls">List of Tiny urls</a>
  </p>
  <% if(email){ %>
     <p>Logged in as:<%= email %><a href="/logout">Logout</a></p>
   <% } else{ %>
     <form method="POST" action= "/login">
      <button>Please log in</button>
     </form>
  <% } %>

</header>



