<!DOCTYPE html>
<header>
  <h1>Tiny App</h1>

  <% if(!username){ %>
      <a href="/login">Login</a>|
      <a href="/register">Register</a>
   <% } else{ %>
      <p>Logged in as:<%= email %></p>
        <a href="/logout">Logout</a>
      <br>
      <a href="/urls/new">Create new tiny URL </a>
      <br>

    <a href="/urls">List of Tiny urls</a>

  <% } %>

</header>



