
<header>

  <h1>Tiny App</h1>

  <p>
    <a href="/urls/new">Create new tiny URL</a>|
    <a href="/urls">List of Tiny urls</a>
  </p>
  <% if(username){ %>
     <p>Logged in as:<%= username %><a href="/logout">Logout</a></p>
   <% } else{ %>
     <form method="POST" action= "/login">
       <input type="text" name="username">
       <button type="submit" > Submit </button>
     </form>
  <% } %>

</header>



